@charset "utf-8";
head {
	background-image: url(images/ground.png);		
}
#order {
	color: #666;
	font-size: 36px;
	font-weight: bold;
}
body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: #4c4c4c;
}
a:hover {
  color: #949494;
  transition: 0.5s;
}
.openwindow {
  opacity: 1;
  transition: 0.5s;
}
.closewindow {
  opacity: 0;
}
.wrap {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  position: fixed;
  background-color: rgba(237, 236, 234);
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  z-index: 3;
}
#toplogo {
  float: left;
  height: 69px;
  width: 168px;
  margin-left: 10%;
  margin-top: 13px;
}
#menu {
  display: flex;
  position: absolute;
  right: 10%;
  top: 20px;
  align-items: center;
}
#menuitem {
  margin-right: 50px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  color: #4c4c4c;
}
#menuitem2 {
  margin-right: 20px;
  font-size: 13px;
  color: #4c4c4c;
  font-family: "Nanum Gothic", sans-serif;
}
#coffeeheader_contents {
  position: absolute;
  right: -50px;
  width: 100px;
  height: 70px;
  top: 25px;
  z-index: 3;
  list-style: none;
  display: none;
  background-color: rgba(237, 236, 234);
  border-radius: 5px;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #4c4c4c;
}
#coffeeheader_contents li {
  margin-top: 5px;
}
#coffeeheader {
  width: 50px;
  height: 60px;
  top: 20px;
  position: relative;
}
#coffeeheader:hover #coffeeheader_contents {
  transition: 0.5s;
  display: block;
}
#userheader_contents {
  position: absolute;
  right: 0px;
  width: 80px;
  height: 50px;
  top: 25px;
  z-index: 3;
  list-style: none;
  display: none;
  background-color: rgba(237, 236, 234);
  border-radius: 5px;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #4c4c4c;
}
#userheader_contents li {
  margin-top: 5px;
}
#userheader {
  width: 85px;
  height: 60px;
  top: 22.78px;
  position: relative;
}
#userheader:hover #userheader_contents {
  transition: 0.5s;
  display: block;
}
.gotomain{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#page {
  position: relative;
  top: 95px;
  height: fit-content;
  z-index: 2;
  background-color: rgba(237, 236, 234);
}
#banner {
	height: 170px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/banner_bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#page {
  position: relative;
  top: 95px;
  height: fit-content;
  z-index: 2;
  background-color: rgba(237, 236, 234);
}