@charset "utf-8";
/*여기부터*/
body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: #4c4c4c;
}
a:hover {
  color: #949494;
  transition: 0.5s;
}
.openwindow {
  opacity: 1;
  transition: 0.5s;
}
.closewindow {
  opacity: 0;
}
.wrap {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  position: fixed;
  background-color: rgba(237, 236, 234);
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  z-index: 3;
}
#toplogo {
  float: left;
  height: 69px;
  width: 168px;
  margin-left: 10%;
  margin-top: 13px;
}
#menu {
  display: flex;
  position: absolute;
  right: 10%;
  top: 20px;
  align-items: center;
}
#menuitem {
  margin-right: 50px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  color: #4c4c4c;
}
#menuitem2 {
  margin-right: 20px;
  font-size: 13px;
  color: #4c4c4c;
  font-family: "Nanum Gothic", sans-serif;
}
#coffeeheader_contents {
  position: absolute;
  right: -50px;
  width: 100px;
  height: 70px;
  top: 25px;
  z-index: 3;
  list-style: none;
  display: none;
  background-color: rgba(237, 236, 234);
  border-radius: 5px;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #4c4c4c;
}
#coffeeheader_contents li {
  margin-top: 5px;
}
#coffeeheader {
  width: 50px;
  height: 60px;
  top: 20px;
  position: relative;
}
#coffeeheader:hover #coffeeheader_contents {
  transition: 0.5s;
  display: block;
}
#userheader_contents {
  position: absolute;
  right: 0px;
  width: 80px;
  height: 50px;
  top: 25px;
  z-index: 3;
  list-style: none;
  display: none;
  background-color: rgba(237, 236, 234);
  border-radius: 5px;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #4c4c4c;
}
#userheader_contents li {
  margin-top: 5px;
}
#userheader {
  width: 85px;
  height: 60px;
  top: 22.78px;
  position: relative;
}
#userheader:hover #userheader_contents {
  transition: 0.5s;
  display: block;
}
#page {
  position: relative;
  top: 95px;
  height: fit-content;
  z-index: 2;
  background-color: rgba(237, 236, 234);
}
/*여기 위까지 카피하세요*/
#banner {
  height: 800px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/banner_bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#bannerintro {
  width: 500px;
  font-size: 50px;
  font-family: "Manrope", sans-serif;
  color: rgba(237, 236, 234);
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
}
#bannerdes {
  width: 500px;
  font-size: 25px;
  position: absolute;
  top: 35%;
  color: rgba(237, 236, 234);
  margin-top: 100px;
  margin-left: 100px;
  font-family: "Nanum Gothic", sans-serif;
}
#homeintro {
  height: 500px;
  background-color: white;
  text-align: center;
  position: relative;
}
#homeintrodes {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  font-size: 25px;
  font-family: "Nanum Gothic", sans-serif;
  color: #4c4c4c;
}
#homeintrodes p {
  font-family: Cinzel;
  color: #4c4c4c;
}
#best {
  width: fit-content;
  height: 630px;
  overflow: hidden;
  background-color: rgba(237, 236, 234);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3px;
  border-width: 2px;
  border-color: #aaa;
  border-radius: 3px;
  margin-bottom: 20px;
}
#best_title {
  margin-top: 30px;
  font-size: 25px;
  color: #4c4c4c;
  font-family: Cinzel;
}
#best_image {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 819px;
  height:487px;
  
}

.imgmenu {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 830px;
}
.imgmenus {
  width: 250px;
  padding: 10px;
  padding-top: 20px;
  height: 50px;
  background-color: whitesmoke;
  text-align: center;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #fff;
  font-weight: bold;
}
.imgmenus:hover {
  background-color: black;
  color: white;
}
#banner2 {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/banner_bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
a:hover {
  color: #949494;
  transition: 0.3s;
}
#footer {
  background-color: #4c4c4c;
  height: 200px;
  color: white;
  margin-top: -20px;
  position: relative;
}
#footercom {
  position: absolute;
  top: 25px;
  left: 5%;
}
#footercompanyeng {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
}

#footercompanykor {
  font-size: 15px;
  font-family: "Nanum Gothic", sans-serif;
}
#teamname {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  position: absolute;
  bottom: 50px;
  left: 5%;
}
#footeritem {
  font-size: 16px;
  position: absolute;
  right: 9%;
  top: 8px;
  list-style: none;
  display: flex;
  color: #fff !important;
}
#footeritems {
  font-family: "Manrope", sans-serif;

  margin-left: 40px;
}
#footeritemlink {
  list-style: none;
  color: white;
}
#footeritemlink:hover {
  color: #d46c6c;
  transition: 0.5s;
}
#footeradress {
  color: white;
  position: absolute;
  bottom: 50px;
  right: 9%;
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
}
